:root {
    --red-darken-1: #FF0000;
    --red-darken-2: #E03226;
    --grey-darken-1: #AFAFAF;
    
    --link-color: var(--grey-darken-1);
    --link-active-color: var(--link-active-color);
    --primary-color: var(--red-darken-1);
    --secondary-color: var(--red-darken-2);

    --section-title-color: var(--grey-darken-1);
    --product-title-color: var(--grey-darken-6);
    --text-color: var(--grey-darken-1);
}